Repository AstarVienna/irdb, pull requests merged in 2025-04, with the labels that each got.

#227 Move TEL header keywords in METIS to ELT
  ELT/ELT.yaml
  ELT/FITS_telescope_keywords.yaml
  METIS/docs/example_notebooks/METIS_WCU.ipynb
  METIS/headers/FITS_common_keywords.yaml
Labels: instrument definition, METIS

#228 WCU FITS header keywords
  METIS/METIS_WCU.yaml
  METIS/headers/FITS_wcu_keywords.yaml
Labels: enhancement, instrument-specific, instrument definition, METIS

#189 ADConversion effect
  METIS/METIS_DET_IFU.yaml
  METIS/METIS_DET_IMG_LM.yaml
  METIS/METIS_DET_IMG_N_GeoSnap.yaml
Labels: instrument-specific, instrument definition, METIS

#231 Fix test class that should be a function
  METIS/tests/test_readout_exptime.py
Labels: bug

#229 Oc/subsystem fits keywords
  METIS/METIS.yaml
  METIS/METIS_DET_IFU.yaml
  METIS/METIS_DET_IMG_LM.yaml
  METIS/METIS_DET_IMG_N_GeoSnap.yaml
  METIS/METIS_IMG_LM.yaml
  METIS/METIS_IMG_N.yaml
  METIS/METIS_LMS.yaml
  METIS/METIS_LSS.yaml
  METIS/default.yaml
  METIS/headers/FITS_cfo_keywords.yaml
  METIS/headers/FITS_common_keywords.yaml
  METIS/headers/FITS_det_ifu_keywords.yaml
  METIS/headers/FITS_det_lm_keywords.yaml
  METIS/headers/FITS_det_n_keywords.yaml
  METIS/headers/FITS_img_lm_keywords.yaml
  METIS/headers/FITS_img_n_keywords.yaml
  METIS/headers/FITS_lms_keywords.yaml
  METIS/headers/FITS_lss_keywords.yaml
  METIS/headers/FITS_wcu_keywords.yaml
Labels: instrument-specific, instrument definition, METIS

#230 Minor cleanup in WCU notebook
  METIS/docs/example_notebooks/METIS_WCU.ipynb
Labels: documentation
