Repository AstarVienna/irdb, pull requests merged in 2025-03, with the labels that each got.

#213 Replace `datetime.utcnow()` to get rid of DeprecationWarning
  irdb/badges.py
Labels: irdb functionality

#212 Oc/metis wcu
  METIS/LIST_METIS_mirrors_wcu.dat
  METIS/METIS_WCU.yaml
  METIS/code/wcu_bb_to_is_throughput.py
  METIS/default.yaml
  METIS/metis_wcu_config.yaml
  METIS/tests/test_modes.py
  METIS/wcu/WCU_BB_to_IS_throughput.fits
  METIS/wcu/fp_mask_grid_lm.dat
  METIS/wcu/fp_mask_pinhole_lm.dat
  METIS/wcu/fp_mask_pinhole_n.dat
Labels: instrument-specific, irdb functionality, data update, instrument definition, METIS

#216 Fix new WCU notebook to run in CI
  METIS/docs/example_notebooks/METIS_WCU.ipynb
Labels: documentation, METIS

#219 Override !TEL.temperature in WCU mode
  METIS/METIS_WCU.yaml
Labels: instrument-specific, instrument definition, METIS

#220 Run badge report tests separately
  .github/workflows/tests.yml
  HAWKI/test_hawki/test_full_package_hawki.py
  irdb/tests/test_package_contents.py
  pytest.ini
Labels: irdb functionality

#223 Replace deprecated `datetime.utcnow()` in publish script
  irdb/publish.py
Labels: irdb functionality
