Repository AstarVienna/irdb, pull requests merged in 2025-06, with the labels that each got.

#224 Use ExposureOutput in METIS
  METIS/METIS_DET_IFU.yaml
  METIS/METIS_DET_IMG_LM.yaml
  METIS/METIS_DET_IMG_N_Aquarius.yaml
  METIS/METIS_DET_IMG_N_GeoSnap.yaml
  METIS/tests/test_readout_exptime.py
Labels: instrument-specific, instrument definition, METIS

#246 Remove all remaining `version.yaml` files
  Armazones/version.yaml
  ELT/version.yaml
  HAWKI/version.yaml
  LFOA/version.yaml
  METIS/version.yaml
  MICADO/version.yaml
  MORFEO/version.yaml
  Paranal/version.yaml
  test_package/version.yaml
Labels: irdb functionality

#247 METIS filters cut to reasonable wavelength range
  METIS/filters/TC_filter_Br_alpha.dat
  METIS/filters/TC_filter_Br_alpha_ref.dat
  METIS/filters/TC_filter_CO_1-0_ice.dat
  METIS/filters/TC_filter_CO_ref.dat
  METIS/filters/TC_filter_H2O-ice.dat
  METIS/filters/TC_filter_HCI_L_long.dat
  METIS/filters/TC_filter_HCI_L_short.dat
  METIS/filters/TC_filter_IB_4.05.dat
  METIS/filters/TC_filter_L_spec.dat
  METIS/filters/TC_filter_Lp.dat
  METIS/filters/TC_filter_M_spec.dat
  METIS/filters/TC_filter_Mp.dat
  METIS/filters/TC_filter_N1.dat
  METIS/filters/TC_filter_N2.dat
  METIS/filters/TC_filter_N3.dat
  METIS/filters/TC_filter_N_spec.dat
  METIS/filters/TC_filter_Ne_II.dat
  METIS/filters/TC_filter_Ne_II_ref.dat
  METIS/filters/TC_filter_PAH_11.25.dat
  METIS/filters/TC_filter_PAH_11.25_ref.dat
  METIS/filters/TC_filter_PAH_3.3.dat
  METIS/filters/TC_filter_PAH_3.3_ref.dat
  METIS/filters/TC_filter_PAH_8.6.dat
  METIS/filters/TC_filter_PAH_8.6_ref.dat
  METIS/filters/TC_filter_S_IV.dat
  METIS/filters/TC_filter_S_IV_ref.dat
  METIS/filters/TC_filter_short-L.dat
Labels: instrument-specific, data update, METIS

#243 Rename `SummedExposure` ➡️ `ExposureIntegration`
  HAWKI/HAWKI_H2RG.yaml
  LFOA/LFOA_SBIG.yaml
  METIS/METIS_DET_IFU.yaml
  METIS/METIS_DET_IMG_LM.yaml
  METIS/METIS_DET_IMG_N_Aquarius.yaml
  METIS/METIS_DET_IMG_N_GeoSnap.yaml
  METIS/docs/example_notebooks/demos/demo_auto_exposure.ipynb
  MICADO/MICADO_H4RG.yaml
  MICADO_Sci/MICADO_Sci_detector.yaml
  OSIRIS/OSIRIS_DET.yaml
  ViennaLT/ViLT_PL16803.yaml
  WFC3/WFC3_IR_DET.yaml
Labels: instrument definition

#250 Update constraints and status in METIS
  METIS/METIS_DET_IFU.yaml
  METIS/METIS_DET_IFU_SMPL.yaml
  METIS/default.yaml
Labels: instrument-specific, instrument definition, METIS
